.post-comments {
  .comments-area {
    width: 100%;

    .comment-list {
      padding: 0;
      list-style: none;

      .comment {
        padding-top: 1.5em;
        position: relative;
        display: block;

        .comment-body {
          overflow: hidden;
          padding-bottom: .5em;
          border-bottom: 1px dashed #f5f5f5;

          .comment-author {
            img.avatar {
              width: 3.125em;
              height: 3.125em;
              float: left;
              border-radius: 50%;
              margin-right: .7525em;
              border: 1px solid #f5f5f5;
              padding: .125em;
            }

            .fn {
              position: relative;
              font-size: .875em;
              font-weight: 500;
              margin-right: .875em;
              cursor: pointer;
              color: #1abc9c;
              text-decoration: none;
              display: inline-block;
              font-style: normal;
            }

            .says {
              display: none;
            }
          }

          .comment-metadata {
            time {
              color: #b3b3b3;
              font-size: .75em;
              margin-right: .875em;
            }

            .edit-link,
            .edit-link-sep {
              color: #b3b3b3;
              font-size: 16px;
            }
          }

          .comment-content {
            word-wrap: break-word;
            word-break: break-all;
            text-align: justify;
            color: #4a4a4a;
            font-size: .875em;
            line-height: 2;
            position: relative;
            margin-bottom: .75em;
            padding-top: .625em;
          }

        }

        .reply {
          position: absolute;
          top: 1.5em;
          right: 0;

          .comment-reply-link {
            font-size: .8125em;
            color: #ef2f11;
            cursor: pointer;
          }
        }
      }

      .comment-respond {
        text-align: right;

        small {
          a {
            transition-duration: .4s;
            text-align: center;
            color: #313131;
            border: 1px solid #ededed;
            border-radius: .3em;
            display: inline-block;
            background: #ededed;
            margin-bottom: 16px;
            margin-top: 16px;
            font-weight: 400;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            white-space: nowrap;
            padding: .5em 1.25em;
            font-size: .875em;
            line-height: 1.42857143;
            user-select: none;
            outline: none;
          }
        }
      }
    }

    .comment-form-flex {
      margin-top: 20px;

    }

    form.form {
      textarea.form-control {

      }

      input.form-control {

      }

      .form-submit {
        margin-top: 16px;
        text-align: right;

        .btn.btn-primary {
          transition-duration: .4s;
          text-align: center;
          color: #313131;
          border: 1px solid #ededed;
          border-radius: .3em;
          display: inline-block;
          background: #ededed;
          margin-bottom: 0;
          font-weight: 400;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          white-space: nowrap;
          padding: .5em 1.25em;
          font-size: .875em;
          line-height: 1.42857143;
          user-select: none;
          outline: none;
        }
      }
    }

    .comment-navigation {
      .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .nav-previous,
        .nav-next {
          input {
            transition-duration: .4s;
            text-align: center;
            color: #313131;
            border: 1px solid #ededed;
            border-radius: .3em;
            display: inline-block;
            background: #ededed;
            font-weight: 400;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            white-space: nowrap;
            padding: .5em 1.25em;
            font-size: .875em;
            line-height: 1.42857143;
            user-select: none;
            outline: none;
            margin: 0 10px;
          }
        }
      }
      .screen-reader-text {
        display: none;
      }
    }

  }
}